In [3]:
import pandas as pd

In [4]:
main_df = pd.read_excel("../../data/main_df.xlsx")

In [5]:
main_df.head(2)

,Event_id,Event,Date,City,Country,Rank,Name,Nation,Born,Age,Gender,Category type,Category,B.weight,Snatch,CI&Jerk,Total,Indicador
0,444,5th International Qatar Cup,2018-12-19,DOHA,QAT,1,HIRAI Hayato,Japan,1994-08-08,24,man,new category,61kg,60.5,124.0,148.0,272.0,4.495868
1,444,5th International Qatar Cup,2018-12-19,DOHA,QAT,2,SON Igor,Kazakhstan,1998-11-16,20,man,new category,61kg,58.6,118.0,149.0,267.0,4.556314

# Correlation

Excluding lifts == 0. When lift is equal to zero means that the lifter missed the lift.

In [6]:
def remove_lift(df):
    lifts_to_exclude=[]

    for index in range(len(df)):

        snatch = df["Snatch"][index]
        c_j = df["CI&Jerk"][index]

        if snatch == 0 or c_j == 0: 
            lifts_to_exclude.append(index)
    
    return lifts_to_exclude

In [7]:
df_to_correlation = main_df.drop(remove_lift(main_df))

Calculating correlations

In [8]:
c_snatch = df_to_correlation["Snatch"]
c_clean = df_to_correlation["CI&Jerk"]
c_total = df_to_correlation["Total"]
c_bodyweight = df_to_correlation["B.weight"]
c_age = df_to_correlation["Age"]

In [9]:
#bodyweight
cor_snatch_bodyweight = c_snatch.corr(c_bodyweight)
cor_clean_bodyweight = c_clean.corr(c_bodyweight)
cor_total_bodyweight = c_total.corr(c_bodyweight)

#age
cor_snatch_age = c_snatch.corr(c_age)
cor_clean_age = c_clean.corr(c_age)
cor_total_age = c_total.corr(c_age)

#lifts
cor_snatch_clean = c_snatch.corr(c_snatch)

Bodyweight

In [10]:
print(f'Bodyweight x Snatch: {round(cor_snatch_bodyweight,2)}')
print(f'Bodyweight x C&J: {round(cor_clean_bodyweight,2)}')
print(f'Bodyweight x Total: {round(cor_total_bodyweight,2)}')

Bodyweight x Snatch: 0.67
Bodyweight x C&J: 0.68
Bodyweight x Total: 0.68

Age

In [11]:
print(f'age x Snatch: {round(cor_snatch_age,2)}')
print(f'age x C&J: {round(cor_clean_age,2)}')
print(f'age x Total: {round(cor_total_age,2)}')

age x Snatch: 0.29
age x C&J: 0.29
age x Total: 0.29